body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.leaflet-container {
  position: absolute;
  left: 350px;
  width: 50%;
  height: 60vh;
  border-radius: 20px;
  border-width: 10px;
}

.wallpaper {
  background-image: url(./wallpaper.png);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  left: 0px;
  background-repeat: no-repeat;
}

.searchField {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border-width: 1px;
}

.modalContainer {
  position: absolute;
  left: 350px;
  top: 100px;
  z-index: 1;
  width: 50%;
  height: 80%;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
}

.modalContent {
  background-color: steelblue;
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
}

.modalClose {
  color: black;
  font-size: 16px;
}

.emailButton {
  border-radius: 50px;
  background-color: black;
  color: white;
}

.emailBar {
  position: relative;
  padding-top: 20px;
  top: 500px;
  left: 700px;
}

.cell {
  color: steelblue;
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 6px;
  background-color: black;
  font-family: Georgia;
  font-size: 16px;
}

.cell-highlight {
  color: darkblue;
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 6px;
  background-color: gainsboro;
  font-family: Georgia;
  font-size: 16px;
}

.headings {
  color: black;
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 8px;
  background-color: steelblue;
  font-family: Georgia;
  font-size: 17px;
}

.table {
  display: block;
  height: 200px;
  width: 100%;
  overflow: scroll;
  margin-left: 25%;
  margin-right: 0%;
}

.labels {
  color: black;
  font-family: Georgia;
}

.submitButton {
  color: steelblue;
  border: 1px solid black;
  border-radius: 50px;
  background-color: black;
}

.emailField {
  display: flex;
  justify-content: center;
  align-items: center;
}
